*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 100%;
}
.main-box{
    display: flex;
    height: calc(100vh - 80px);
}

/*SIDE-BAR SX*/
.side-bar{
    width: 12rem;
    padding-left: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: ;
}
.logo{
    width: 60%;
    margin-top: 10px;
}
.side-bar-menu{
    width: 90%;
    margin-top: 15px;
}
.side-bar-menu>a:hover{
    box-shadow: -2px 0 0 greenyellow;
}
.side-bar * a{
    text-decoration: none;
    font-size: 11px;
    display: block;
    padding: 2px 0;
    color: grey;
}
.side-bar * a:hover{
    color: white;
}
h4{
    color: white;
    font-size: 12px;
    margin-top: 20px;
}
.my-playlist{
    display: flex;
    align-items: center;
}
.side-bar-list{
    min-height: 35%;
    max-height: 50%;
    overflow: auto;
}
.side-bar-list>ul>li>a{
    padding: 7px 0;
}
.user{
    margin-top: auto;
    margin-bottom: 5px;
}
.user-span{
    color: white;
}
.hr{
    width: 85%;
    height: 1px;
    margin: 6px 0;
    background-color: grey;
}
.logo-small{
    display: none;
}

/*****************
 -SPOTIFY CONTENT-
******************/

.content {
width: calc(100% - 12rem);
}

/*TOP-BAR*/
.top-bar{
    width: calc(100% - 12rem);
    justify-content: flex-end;
    background-color: black;
    position: fixed;
    display: flex;
    opacity: 0.6;
}
.button{
    padding: 16px;
}
button{
    border-radius: 20px;
    padding: 10px 25px;
    opacity: 0.8;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
}
button:hover{
    transform: scale(1.1);
}

/*ALBUMS-MENU*/
.main-menu{
    overflow: auto;
    height: 100%;
    padding-top: 80px;
    background-color: #141922;
}
.main-menu>ul{
    text-align: center;
}
.main-menu>ul>li>a:hover{
    color: white;
    box-shadow: 0 2px 0 greenyellow;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-decoration: none;
    padding: 5px 7px;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}

/*ALBUMS*/
h3{
    padding: 20px 0 12px 3px;
    color: white;
}
h5{
    padding: 7px 0;
    color: white;
}
.box:hover img{
    opacity: 0.5; 
}
.box{
    position: relative;
}
.play{
    color: white;
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box:hover .play{
    opacity: 1;
    cursor: pointer;
}
.music-title{
    text-align: center;
}
p{
    font-size: 11px;
    color: grey;
    padding-bottom: 5px;
}
.suggerimento{
    margin: -5px 0 5px 3px;
}
.circol{
    border-radius: 50%;
}
.circol>img{
    object-fit: cover;
    border-radius: 50%;
}
/*FOOTER*/
footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-menu{
    width: 15%;
    border: 1px dashed;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.bottom-menu-big{
    width: 35%;
    border: 1px dashed;
    text-align: center;
}
.on-play{
    width: 18%;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.on-play-name{
    font-size: 9px;
}
.first:hover img{
    opacity: 0.5;
}
.on-play>a{
    margin: 0 5px;
    color: grey;
}
.on-play>a>i:hover{
    color: white;
}
.consol{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.consol>a{
    color: white;
    padding: 0 8px;
}
.consol>a>i:hover{
    transform: scale(1.2);
}
h6{
    color: white;
    font-size: 11px;
}
.volum{
    width: 50%;
    display: flex;
    align-items: center;
}
.progress-box{
    display: flex;
    align-items: center;
}
.progress-bar{
    width: 70%;
    height: 3px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    background-color: grey;
}
.progress{
    width: 30%;
    height: 100%;
    display: block;
    background-color: white;
    position: relative;
}
.progress:hover{
    background-color: greenyellow;
}
.progress::after:hover {
    display: ;
}
.progress::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -6px;
    right: 0;
    background-color: white;
}

/*********************************
*****- MEDIA QUERYES TABLET -****/
@media screen and (max-width:770px){
    .col-2{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    .volum{
        display: none;
    }
}
@media screen and (max-width:660px) {
    .col-2 {
        flex-basis: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    .volum {
        display: none;
    }
}

/*********************************
*****- MEDIA QUERYES MOBILE -****/
 @media screen and (max-width:480px) {
    .col-2{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    .content {
        width: calc(100% - 2rem);
    }
    .top-bar {
        width: calc(100% - 2rem);}
    .side-bar{
        width: 2rem;
        padding: 5px;
    }
    .logo{
        margin-top: 0;
    }
    .logo-big,.side-bar-list,h4,.my-playlist,.hr,.volum{
        display: none;
    }
    .logo-small{
        display: block;    
    }
    .side-bar * span{
        display: none;
    }
    
    .bottom-menu{
        width: 33%;
    }
    .on-play.second{
        flex-direction: column;
    } 
}
    