*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 100%;
}
.main-box{
    display: flex;
    height: calc(100vh - 80px);
}

/*SIDE-BAR SX*/
.side-bar{
    width: 12rem;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: ;
}
.logo{
    width: 60%;
    margin-top: 10px;
}
.side-bar-menu{
    width: 90%;
    margin-top: 15px;
}
.side-bar * a{
    text-decoration: none;
    font-size: 11px;
    display: block;
    padding: 2px 0;
    color: grey;
}
.side-bar * a:hover{
    color: white;
}
.side-bar-list{
    margin-top: 15px;
    min-height: 35%;
    max-height: 50%;
    overflow: auto;
    width: 90%;
}
.side-bar-list>ul>li>a{
    padding: 7px 0;
}
.user{
    height: 10%;
    width: 90%;
    margin-top: auto;
}
.user>a>span{
    color: white;
}
.hr{
    width: 100%;
    height: 1px;
    margin: 6px 0;
    background-color: grey;
}

/*****************
 -SPOTIFY CONTENT-
******************/

.content {
width: calc(100% - 12rem);
}

/*TOP-BAR*/
.top-bar{
    width: calc(100% - 13rem);
    justify-content: flex-end;
    background-color: black;
    position: fixed;
    display: flex;
    opacity: 0.6;
}
.button{
    padding: 16px;
}
button{
    border-radius: 20px;
    padding: 10px 25px;
    opacity: 0.8;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
}
button:hover{
    transform: scale(1.2);
}

/*ALBUMS-MENU*/
.main-menu{
    overflow: auto;
    height: 100%;
    padding-top: 80px;
    background-color: #141922;
}
.main-menu>ul{
    text-align: center;
}
.main-menu>ul>li>a:hover{
    color: white;
}
ul>li{
    display: inline;
}
ul>li>a{
    text-decoration: none;
    padding: 5px 7px;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}

/*ALBUMS*/
h3{
    padding: 20px 0 12px 3px;
    color: white;
}
h5{
    padding: 7px 0;
    color: white;
}
img:hover{
    opacity: 0.5; 
}

p{
    font-size: 11px;
    color: grey;
    padding-bottom: 5px;
}
.suggerimento{
    margin: -5px 0 5px 3px;
}
.circol{
    border-radius: 50%;
}
.circol>img{
    object-fit: cover;
    border-radius: 50%;
}
/*FOOTER*/
footer{
    width: 100%;
    height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-menu{
    width: 15%;
    height: 80%;
    border: 1px dashed;
    
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.bottom-menu-big{
    width: 35%;
    height: 80%;
    border: 1px dashed;
    text-align: center;
}
.on-play{
    width: 18%;
    align-items: center;
    display: flex;
}
.on-play>a{
    margin: 0 5px;
    color: grey;
}
.on-play>a>i:hover{
    color: white;
}
.consol{
    margin-bottom: 12px;
}
.consol>a{
    color: white;
    padding: 0 8px;
}
.consol>a>i:hover{
    transform: scale(1.2);
}
h6{
    color: white;
}
.progress-bar{
    width: 70%;
    height: 3px;
    margin: 0 auto;
    border-radius: 1px;
    position: relative;
    background-color: grey;
}
.progress{
    width: 30%;
    height: 100%;
    background-color: white;
}
.progress:hover{
    background-color: greenyellow;
    position: relative;
}
.progress::after{
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -8;
    right: -8;
    border-radius: 50%;
    background-color: white;
}

/*********************************
*****- MEDIA QUERYES TABLET -****/
@media screen and (max-width:770px){
    .col-2{
        flex-basis: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
}

 @media screen and (max-width:480px) {
     .col-2{
        flex-basis: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
     }
}
    